# Configs
config.json

# Build
dist/

# Logs
*.log

# Dependencies
node_modules
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# System Files
.DS_Store
Thumbs.db

# Editors & IDEs
.*.swp
.*.swo
.vim/
.vscode/
.vs/
*.njsproj
*.sln
bin/
obj/
.idea/
*.imp

# Code coverage
coverage/
.nyc_output
