{
  "instanceName": "id-core",
  "logLevel": 30,
  "ldap": {
    "listenHost": "127.0.0.1",
    "listenPort": "50389",
    "baseDN": "dc=snucse,dc=org",
    "usersOU": "users",
    "groupsOU": "groups",
    "subschemaDN": "cn=subschema,dc=snucse,dc=org"
  },
  "api": {
    "listenHost": "127.0.0.1",
    "listenPort": "50080"
  },
  "session": {
    "key": "id-session",
    "maxAge": 3600000,
    "signed": true,
    "rolling": false,
    "renew": true
  },
  "posix": {
    "userGroupName": "cseusers",
    "userGroupGid": 101132,
    "sudoerGroupName": "csesudoers",
    "sudoerGroupGid": 100600,
    "defaultShell": "/bin/bash",
    "minUid": 100000,
    "homeDirectoryPrefix": "/csehome"
  },
  "postgresql": {
    "host": "127.0.0.1",
    "port": 5432,
    "user": "id",
    "password": "INSERT_PASSWORD_HERE",
    "database": "id"
  }
}
