{
  "instanceName": "id-core",
  "logLevel": 30,
  "api": {
    "listenHost": "127.0.0.1",
    "listenPort": "50080",
    "proxy": true,
    "corsAllowedOrigins": []
  },
  "session": {
    "key": "id-session",
    "maxAge": 3600000,
    "signed": true,
    "rolling": false,
    "renew": true
  },
  "email": {
    "host": "smtp.gmail.com",
    "username": "INSERT_USERNAME_HERE",
    "password": "INSERT_PASSWORD_HERE",
    "resendLimit": 3,
    "verificationEmailSubject": "id.snucse.org 이메일 인증",
    "passwordChangeEmailSubject": "id.snucse.org 비밀번호 변경",
    "verificationEmailUrl": "https://id.snucse.org/sign-up",
    "passwordChangeEmailUrl": "https://id.snucse.org/change-password"
  },
  "posix": {
    "userGroupName": "cseusers",
    "userGroupGid": 101132,
    "sudoerGroupName": "csesudoers",
    "sudoerGroupGid": 100600,
    "defaultShell": "/bin/bash",
    "minUid": 100000,
    "homeDirectoryPrefix": "/csehome"
  },
  "postgresql": {
    "host": "127.0.0.1",
    "port": 5432,
    "user": "id",
    "password": "INSERT_PASSWORD_HERE",
    "database": "id"
  },
  "permissions": {
    "snucse": 1
  }
}
